.bookstore{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;


    &-card{
        width: 400px;
        height: 600px;
        border: 2px solid black;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin: 2em;

        &-image{
            width: 397px;
            height: 400px;

            img{
                width: 100%;
                height: 100%;
            }
        }

    }
}